*{
    margin: 0;
    padding: 0;
    
}
title{
    text-transform: capitalize;
}
.navbar-brand{
    text-transform: uppercase;
}
.collapse{
    text-transform: capitalize;
}
@media (min-width: 220px){
                            /*----corresponde a la seccion de -WORLD- ---- inicio -----*/
    .world{
        text-transform: uppercase;
        width: 100vw;
        text-align: center;
        background-color: cornsilk;
        color: rgb(1, 4, 5);
        text-shadow: 1px 2px lightblue;
        
    }
    .world:hover{
        color: lightblue;
        text-shadow: 1px 2px rgb(1, 4, 5);
    }
    .sea-green{
        width: 100vw;
        height: 600px;
        display: flex;
        color: rgb(1, 4, 5);
        overflow: hidden;
        flex: row;
        flex-wrap: wrap;
    }
    .sea{
        width: 100vw;
        height: 300px;
        background-image: url(../img/sea.png);
        background-position: center;
        background-size: cover;
        overflow: hidden;
    
    }
    .green{
        width: 100vw;
        height: 300px;
        background-image: url(../img/green.png);
        background-position: center;
        background-size: cover;
        overflow: hidden;
    }
    .p1{
        font-size: 15px;
        padding: 20px;
        font-weight: lighter;
        display: flex;
        justify-content: center;
        background-color: rgb(0, 0, 0, 0.2);
        color: cornsilk;
        overflow: hidden;
    }
        /*------------corresponde a la seccion de -WORLD- ---- inicio --------------*/

}    